@page "/create-deployment"
@rendermode InteractiveServer
@using RedMaple.Orchestrator.Contracts.Deployments
@using RedMaple.Orchestrator.Contracts.Healthz
@using RedMaple.Orchestrator.Controller.Components.Views
@using RedMaple.Orchestrator.Controller.Domain.Deployments
@using RedMaple.Orchestrator.Controller.Domain.Deployments.Templates
@using RedMaple.Orchestrator.Controller.Domain.Domain
@inject IDeploymentTemplateProvider _templateProvider
@inject INodeManager _nodeManager
@inject IDomainService domain
@inject IDeploymentManager deploymentManager
@inject IClusterResourceManager clusterResourceManager
@inject NavigationManager navigationManager

<MudPopoverProvider />

<EditForm Model="@model" OnValidSubmit="async () => await OnValidSubmitAsync()">
    <DataAnnotationsValidator />
    <MudItem >
        <MudCard Class="pa-5">
            <MudText Typo="Typo.h5">Create deployment</MudText>
            <MudCardActions>

                @if (_wizardPage != Pages.SelectTemplate)
                {
                    <MudButton OnClick="PrevPage"
                               ButtonType="ButtonType.Submit"
                               Variant="Variant.Outlined"
                               Color="Color.Primary">Back</MudButton>
                }

                @if (_wizardPage != Pages.ValidateAndConfirm)
                {
                    <MudButton Class="ml-auto"
                               OnClick="async ()  => await NextPageAsync()"
                               ButtonType="ButtonType.Submit"
                               Variant="Variant.Filled"
                               Color="Color.Primary">Next</MudButton>
                }
            </MudCardActions>
            <MudCardContent>

                @if (_wizardPage == Pages.SelectDomainName)
                {
                    <MudText Typo="Typo.h6">Define deployment</MudText>

                    <MudTextField Label="Deployment Name" Class="mt-5"
                                  @bind-Value="model.Name" For="@(() => model.Name)" />

                    <MudTextField Label="Domain Name" Class="mt-5"
                                  @bind-Value="model.DomainName" For="@(() => model.DomainName)" />

                    <MudText Typo="Typo.h6" Class="mt-10">Dependencies</MudText>
                    <DependencyEditor 
                        @bind-Dependencies="@model.Resources"
                        EnvironmentVariables="@model.EnvironmentVariables"/>
                }
                else if (_wizardPage == Pages.SelectTemplate)
                {
                    <MudText Typo="Typo.h6">Select template</MudText>
                    <div class="templates mt-5">
                        @foreach(var template in _templates)
                        {
                            <MudPaper Class="pa-4 hover-elevation" @onclick="async () => await ApplyTemplateAsync(template)">
                                <div class="template">
                                    <img src="@template.IconUrl" />
                                    <div>@template.Name</div>
                                </div>
                            </MudPaper>
                        }
                    </div>


                    <MudTextField Width="500px"
                                  Label="Compose"
                                  Class="mt-5 pa-5"
                                  Style="border: solid 1px #ccc; font-family: monspace; background: #ddd"
                                  Lines="20"
                                  @bind-Value="model.Plan"
                                  For="@(() => model.Plan)" />
                }
                else if (_wizardPage == Pages.ConfigureServers)
                {
                    <MudText Typo="Typo.h6">Select target nodes</MudText>

                    @if (model.CreateIngress)
                    {
                        <MudItem xs="12" sm="6" md="4" Class="mt-5">
                            <SelectNode MustBeIngress="true" @bind-Value="model.IngressNode" Label="Ingress Server" />
                        </MudItem>
                    }

                    <MudItem xs="12" sm="6" md="4" Class="mt-5">
                        <SelectNode MustBeApplicationHost="true" @bind-Value="model.ApplicationNode" Label="Application Server" />
                    </MudItem>
                }
                else if (_wizardPage == Pages.ConfigureEnvironmentVariables)
                {
                    <MudText Typo="Typo.h6">Environment Variables</MudText>
                    <EnvironmentVariableEditor EnvironmentVariables="@model.EnvironmentVariables"/>
                }
                else if (_wizardPage == Pages.ValidateAndConfirm)
                {
                    @if(!_validationResult.IsValid)
                    {
                        <MudStack Spacing="2">
                        @foreach(var error in _validationResult.Errors)
                        {
                            if(error.Severity == FluentValidation.Severity.Error)
                            {
                                <MudAlert Severity="Severity.Error">@error.ErrorMessage</MudAlert>
                            }
                            else if(error.Severity == FluentValidation.Severity.Warning)
                            {
                                <MudAlert Severity="Severity.Warning">@error.ErrorMessage</MudAlert>
                            }
                            else
                            {
                                <MudAlert Severity="Severity.Info">@error.ErrorMessage</MudAlert>
                            }
                        }
                        </MudStack>
                    }
                    else
                    {
                        <MudText Typo="Typo.h6">Ready for deployment</MudText>
                        <MudButton  Class="ml-auto"
                                    OnClick="CreateDeploymentAsync"
                                    ButtonType="ButtonType.Submit"
                                    Variant="Variant.Filled"
                                    Color="Color.Primary">Create</MudButton>

                        <MudItem Class="ml-5 mt-5">
                        <ol>
                            @if(model.CreateIngress)
                            {
                                <li>Create DNS entry @model.DomainName for Ingress</li>
                                <li>Create ingress service @model.DomainName at @model.IngressNode?.IpAddress</li>
                                <li>Generate HTTPS certificates for SAN: @model.DomainName</li>
                                <li>Generate HTTPS certificates for SAN: @model.ApplicationNode?.IpAddress</li>
                            }
                            else
                            {
                                <li>Create DNS entry @model.DomainName for application</li>
                                <li>Generate HTTPS certificates for SAN: @model.ApplicationNode?.IpAddress</li>
                            }

                            @if(_workPlan is not null)
                            {
                                foreach(var container in _workPlan.ContainerImages)
                                {
                                    <li>Create container '@container' at @model.ApplicationNode?.IpAddress</li>
                                }
                            }
                        </ol>
                        </MudItem>
                    }                    
                }

            </MudCardContent>
         

        </MudCard>
    </MudItem>
</EditForm>


@code {
    private CreateDeploymentModel model = new()
        {
            Resources = new()
        };
    private List<DeploymentPlanTemplate> _templates = new();
    private Pages _wizardPage = Pages.SelectTemplate;

    public enum Pages
    {
        SelectTemplate = 0,
        SelectDomainName = 1,
        ConfigureServers = 2,
        ConfigureEnvironmentVariables = 3,

        ValidateAndConfirm = 4
    }

    public class CreateDeploymentModel
    {
        [Required]
        public string Name { get; set; } = "";

        [Required]
        public string DomainName { get; set; } = "";

        ///<summary>
        /// Type of deployment
        /// </summary>
        public DeploymentKind Kind { get; set; } = DeploymentKind.DockerCompose;

        /// <summary>
        /// Assigned resources 
        /// </summary>
        public List<ClusterResource>? Resources { get; set; }

        [Required]
        public string? Plan { get; set; }

        /// <summary>
        /// All environment variables
        /// </summary>
        public Dictionary<string, string>? EnvironmentVariables = null;

        /// <summary>
        /// Key is the environment variable which is assigned from the resource, value is the resource Id
        /// </summary>
        public Dictionary<string,string> ResourceVariableMap = new();

        public bool CreateIngress { get; set; }

        public NodeInfo? IngressNode { get; set; }
        public List<string>? RequiredEnvironmentVariables = null;

        public int ApplicationPort { get; set; } = Random.Shared.Next(10000, 20000);
        public string ApplicationProtocol { get; set; } = "https";

        public string? IconUrl{ get; set; }

        [Required]
        public NodeInfo? ApplicationNode { get; set; }

        /// <summary>
        /// Health check tests
        /// </summary>
        public List<DeploymentHealthCheck> HealthChecks { get; set; } = new();
    }

    [Parameter] public string Id { get; set; } = null!;

    private void PrevPage()
    {
        int pageNum = (int)_wizardPage;
        if (pageNum > 0)
        {
            pageNum--;
        }
        _wizardPage = (Pages)pageNum;
    }

    private DeploymentPlan? _workPlan = null;
    private FluentValidation.Results.ValidationResult _validationResult = new FluentValidation.Results.ValidationResult();

    private async Task OnLeavingPageAsync(Pages page)
    {
        this._workPlan = CreatePlan();
        _validationResult = await deploymentManager.ValidatePlanAsync(this._workPlan);
    }

    private DeploymentPlan CreatePlan()
    {
        model.RequiredEnvironmentVariables ??= new();

        model.EnvironmentVariables ??= new();

        var plan = new DeploymentPlan
            {
                Id = "0",
                Name = model.Name,
                Slug = deploymentManager.CreateSlug(model.Name),
                IconUrl = model.IconUrl,
                Plan = model.Plan ?? "",
                DomainName = model.DomainName,
                Kind = model.Kind,
                CreateIngress = model.CreateIngress,
                CreateDnsEntry = true,
                IngressServerIp = model.IngressNode?.IpAddress,
                ApplicationServerIps = [model.ApplicationNode?.IpAddress],
                ApplicationServerPort = model.ApplicationPort,
                ApplicationProtocol = model.ApplicationProtocol,
                EnvironmentVariables = model.EnvironmentVariables,
                HealthChecks = model.HealthChecks,
            };

        // Add defaults (like domain name)
        foreach(var pair in deploymentManager.GetDefaultEnvironmentVariables(plan))
        {
            model.EnvironmentVariables[pair.Key] = pair.Value;
        }


        // Assign values from dependent resources here
        if (model.Resources is not null)
        {
            // Remove all old assignments (if a dependency is removed)
            foreach(var key in model.ResourceVariableMap.Keys.ToList())
            {
                model.ResourceVariableMap.Remove(key);
                model.EnvironmentVariables.Remove(key);
            }

            foreach (var resource in model.Resources)
            {
                foreach (var environmentVariable in resource.EnvironmentVariables)
                {
                    if (!model.EnvironmentVariables.TryGetValue(environmentVariable.Key, out var val) || string.IsNullOrEmpty(val))
                    {
                        model.EnvironmentVariables[environmentVariable.Key] = environmentVariable.Value;
                        model.ResourceVariableMap[environmentVariable.Key] = resource.Id;
                    }
                }
            }
        }

        // Make sure that the required envionrment variables are set
        foreach (string name in model.RequiredEnvironmentVariables)
        {
            if (!model.EnvironmentVariables.ContainsKey(name))
            {
                model.EnvironmentVariables[name] = "";
            }
        }
        plan.EnvironmentVariables = model.EnvironmentVariables;

        return plan;
    }

    private async Task NextPageAsync()
    {
        await OnLeavingPageAsync(_wizardPage);

        int pageNum = (int)_wizardPage;
        pageNum++;
        _wizardPage = (Pages)pageNum;

        if(_wizardPage == Pages.ConfigureEnvironmentVariables && _workPlan is not null)
        {
        }
        this.StateHasChanged();
    }

    private async Task CreateDeploymentAsync()
    {
        if(_workPlan is null)
        {
            return;
        }

        var existing = await deploymentManager.GetDeploymentBySlugAsync(_workPlan.Slug);
        if(existing is not null)
        {
            // Todo: show some error
            return;
        }

        await deploymentManager.SaveAsync(_workPlan);

        navigationManager.NavigateTo("/deployments");
    }

    private async Task ApplyTemplateAsync(DeploymentPlanTemplate template)
    {
        model.Plan = template.Plan;
        model.DomainName = template.Name.ToLower().Replace(' ', '-') + "." + domain.DefaultDomain;
        model.Name = template.Name;
        model.CreateIngress = template.CreateIngress;
        model.IconUrl = template.IconUrl;
        model.ApplicationProtocol = template.ApplicationProtocol;
        model.HealthChecks = template.HealthChecks;
        model.RequiredEnvironmentVariables = template.RequiresEnvironment;
        model.Resources = new();
        model.EnvironmentVariables = new();

        await NextPageAsync();

        // Auto assign resources to the deployment based on missing environment variables
        model.Resources = await clusterResourceManager.GetClusterResourcesAsync(model.EnvironmentVariables);

        _workPlan = CreatePlan();
    }

    protected override async Task OnInitializedAsync()
    {
        _templates.Clear();
        foreach (var template in await _templateProvider.GetDeploymentsAsync())
        {
            _templates.Add(template);
        }
    }

    private async Task OnValidSubmitAsync()
    {
        await Task.Delay(1000);
    }

}