@using RedMaple.Orchestrator.Contracts.Node
@inject INodeManager nodeManager
@rendermode InteractiveServer

<MudPaper Width="250px" Class="py-3" Elevation="0">
    <MudNavMenu>
        <div class="container-logo">
            <div><img src="logo.png" alt="logo"/></div>
            <div class="title">
                <div>
                    <MudText Typo="Typo.h6" Class="px-4">RedMaple</MudText>
                    <MudText Typo="Typo.subtitle1" Class="px-4">Orchestration</MudText>
                </div>
            </div>
        </div>
        <MudDivider Class="my-2" />
        <MudNavLink Href="/deployments">Deployments</MudNavLink>
        <MudNavLink Href="/resources">Resources</MudNavLink>

        <MudNavGroup Title="Settings" Expanded="false">
            <MudNavLink Href="/dns">DNS</MudNavLink>
            <MudNavLink Href="/certificates">Certificates</MudNavLink>
            <MudNavLink Href="/templates">Templates</MudNavLink>
        </MudNavGroup>   

        <MudNavGroup Title="Nodes" Expanded="false">

            @foreach (var node in _nodes)
            {
                <MudNavGroup Title="@node.IpAddress" Expanded="true">
                    <MudNavLink Href="@GetNodeContainersLink(node)">Containers</MudNavLink>
                    @if(node.IsIngressEnabled)
                    {
                        <MudNavLink Href="@GetNodeIngressLink(node)">Ingress</MudNavLink>
                    }
                    @if(node.IsDnsEnabled)
                    {
                        <MudNavLink Href="@GetNodeDnsLink(node)">DNS</MudNavLink>
                    }
                    <MudNavLink Href="@GetNodeSettingsLink(node)">Settings</MudNavLink>
                </MudNavGroup>
            }
        </MudNavGroup>
    </MudNavMenu>
</MudPaper>

<span style="color: #444">Icons by <a href="icons8.com">icons8.com</a></span>

@code {
    private List<NodeInfo> _nodes = new();
    
    private string GetNodeIngressLink(NodeInfo node)
    {
        return $"/node/{node.Id}/ingress";
    }
    private string GetNodeContainersLink(NodeInfo node)
    {
        return $"/node/{node.Id}/containers";
    }
    private string GetNodeDnsLink(NodeInfo node)
    {
        return $"/node/{node.Id}/dns";
    }
    private string GetNodeSettingsLink(NodeInfo node)
    {
        return $"/node/{node.Id}/settings";
    }

    protected override async Task OnInitializedAsync()
    {
        _nodes = await nodeManager.GetNodesAsync();
    }
}